<div class="container">
  <h1 class="display-1">Compra lista TV</h1>
  @if (step == 1) {
  <div class="info">
    <p>Para comprar una lista IPTV debe primeramente escribir su nombre y número de teléfono para generar un código personal:</p>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nombre y primer apellido"
        [(ngModel)]="name_client"
        #nameClientModel="ngModel"
        required
      />
    </div>
    <div class="mb-3">
      <label for="mobile_client" class="form-label">Teléfono*</label>
      <input
        type="tel"
        pattern="[0-9]{9}"
        class="form-control"
        id="mobile_client"
        placeholder="Número de móvil"
        [(ngModel)]="mobile_client"
        #mobileClientModel="ngModel"
        required
      />
      <small>*Número de móvil resgistrado en whatsapp para contactarle más adelante</small>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!nameClientModel.valid || !mobileClientModel.valid" (click)="randomNumberGen()">
      Generar Código Personal
    </button>
  </div>
  } @if (step === 2) {
  <div class="info">
    <p>A continuación, debe realizar un bizum al número:</p>
    <p class="mobile" (click)="copyText(mobile_number)">{{ mobile_number }}</p>
    <p>Poniendo en CONCEPTO su número personal generado:</p>
    <p class="generatedNumber" (click)="copyText(numberGenerated)">{{ numberGenerated }}</p>
    <small>*Puede pulsar sobre el número de teléfono o sobre el número generado para copiarlo directamente</small>
    <br />
    <p>Cuando haya realizado el pago pulse el siguiente botón:</p>
    <button type="button" class="btn btn-success" (click)="nextStep()">Hecho</button>
  </div>
  } @if (step === 3) {
  <div class="info">
    <p class="h5">Todo listo {{ name_client }}!</p>
    <img src="assets/imgs/done.svg" alt="Done" />
    <p>Estamos comprobando su pago.</p>
    <p>Nos pondremos en contacto con usted en un máximo de 24h a través del número de whatsapp que nos ha facilitado:</p>
    <p class="mobile">{{ mobile_client }}</p>
  </div>
  }
  <div class="floatingMessage" *ngIf="mostrarMensaje">Copiado correctamente</div>
</div>
