<div class="container">
  <h1 class="display-1">Compra lista TV</h1>
  @if (step == 1) {
  <div class="info">
    <p>Para comprar una lista IPTV debe primeramente escribir su nombre y número de teléfono para generar un código personal:</p>
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Nombre y primer apellido"
        [(ngModel)]="name_client"
        #nameClientModel="ngModel"
        required
      />
    </div>
    <div class="mb-3">
      <label for="mobile_client" class="form-label">Teléfono*</label>
      <input
        type="tel"
        pattern="[0-9]{9}"
        class="form-control"
        id="mobile_client"
        placeholder="Número de móvil"
        [(ngModel)]="mobile_client"
        #mobileClientModel="ngModel"
        required
      />
      <small>*Número de móvil resgistrado en whatsapp para contactarle más adelante</small>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="tivimateCheckbox" [(ngModel)]="tivimateCheckbox" />
      <label class="form-check-label" for="tivimateCheckbox"
        >Necesito una cuenta de <a href="https://tivimate.com/" target="_blank">Tivimate Premium</a> de por vida (+10€/dispositivo)</label
      >
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="vpnCheckbox" [(ngModel)]="vpnCheckbox" />
      <label class="form-check-label" for="vpnCheckbox">Necesito una VPN (+6,5€/año)&nbsp;</label>
      <u (click)="isModalOpen = true">¿Por qué necesito una VPN?</u>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="!nameClientModel.valid || !mobileClientModel.valid" (click)="randomNumberGen()">
      Generar Código Personal
    </button>
    @if (isModalOpen) {
    <div id="modal" class="modal">
      <div class="modal__content">
        <div class="modal__content__text">
          <img src="assets/imgs/info.svg" alt="info" width="22" />
          <p>Algunos operadores de internet bloquean el contenido IPTV, por lo que se recomienda usar una VPN para evitar estos bloqueos.</p>
        </div>
        <button class="modal__content__btn" (click)="isModalOpen = false">Cerrar</button>
      </div>
    </div>
    }
  </div>
  } @if (step === 2) {
  <div class="info">
    <div class="payment-box">
      <h4>Pago con Bizum</h4>
      <p>
        A continuación, debe realizar un bizum por importe de <b>{{ amount | number : "1.2-2" }}€</b> al número:
      </p>
      <p class="mobile" (click)="copyText(mobile_number)">{{ mobile_number }}</p>
      <p>Poniendo en CONCEPTO su número personal generado:</p>
      <p class="generatedNumber" (click)="copyText(numberGenerated)">{{ numberGenerated }}</p>
      <small>*Puede pulsar sobre el número de teléfono o sobre el número generado para copiarlo directamente</small>
    </div>
    @if (name === 'javi') {
    <div class="payment-box">
      <h4>Pago con Criptomonedas</h4>
      <p>También puede pagar con criptomonedas. Para ello, contacte por whatsapp al teléfono:</p>
      <p class="mobile" (click)="copyText(mobile_number)">{{ mobile_number }}</p>
      <small>*Puede pulsar sobre el número de teléfono para copiarlo directamente</small>
    </div>
    }
    <p>Cuando haya realizado el pago pulse el siguiente botón:</p>
    <button type="button" class="btn btn-success" (click)="nextStep()">Hecho</button>
  </div>
  } @if (step === 3) {
  <div class="info">
    <p class="h5">Todo listo {{ name_client }}!</p>
    <img src="assets/imgs/done.svg" alt="Done" />
    <p>Estamos comprobando su pago.</p>
    <p>Los códigos se enviarán en un máximo de 24h al número de whatsapp que nos ha facilitado:</p>
    <p class="mobile">{{ mobile_client }}</p>
    <p>Si ha seleccionado la opción de Tivimate Premium y/o VPN, se le enviarán los datos de acceso en el mismo mensaje.</p>
  </div>
  }
  <div class="floatingMessage" *ngIf="mostrarMensaje">Copiado correctamente</div>
  <app-modal *ngIf="isEmailKO" [mobile]="mobile_number"></app-modal>
</div>
<app-loader *ngIf="isLoading"></app-loader>
